---
layout: default
---

<section role="banner">
  <img alt="" src="{{ site.baseurl }}/img/banner.jpg" />
</section>
<section class="content">
  <p>Just trying out Jekyll.  It looks like a good choice for blogging.</p>
</section>
