---
layout: default
title: Portfolio
---

<section class="content">
  <h2>Blog Entries</h2>
</section>

<ul class="entries">
  {% for post in site.posts %}
    <li>
      <a href="{{site.baseurl}}{{ post.url }}">
        {{ post.title }}
      </a>
    </li>
  {% endfor %}
</ul>
