<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>{% if page.title %} {{ page.title }} | {% endif %} Mountain Code</title>
    <link rel="stylesheet" href="{{ site.baseurl }}/css/style.css" />
  </head>
  <body>
    <div id="main">
      <header>
        <h1>Mountain Code</h1>
      </header>
      <nav role="navigation">
        <ul>
          <li><a href="{{ site.baseurl }}">Home</a></li>
          <li><a href="{{ site.baseurl }}/blog">Blog</a></li>
        </ul>
      </nav>
      {{ content }}
      <footer>
        <p>&copy; Mountain Coder 2011 | All Rights Reserved.</p>
      </footer>
    </div>
  </body>
</html>
